@charset 'utf-8';
.nav li:nth-child(2){
    color: #e5a67a;
}
.preview .inner{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}
.preview h3{
    display: none;
}
.nail-box{
    margin: 80px;
    border-bottom: 1px solid #e5a67a;
}
img:hover{
    transform: scale(1.5);
}
.nail-box p{
    display: flex;
    justify-content:center;
    color: #d4d4d4;
    margin: 10px;
}
.nail-box img{
    width: 350px;
    height: 300px;
    border-radius: 20px;
}